body {
  font-family: "sans-serif";
}

li {
  list-style: none;
  text-decoration: none;
}

footer {
  height: 400px;
  /*padding-top: 30px;
  color: #bc8743;
  font-family: "calibri";
  background-color: black;
  text-align: center;*/
}

.footer-container {
  height: 100px;
  border-bottom: 2px solid #dee7ec;
  background-color: blue;
}

.footer-title {
  float: left;

  font-size: 28px;
  font-family: "sans-serif";
  color: #bc8743;
  padding: 20px 40px;
}

.footer-medsos li{
  float: left;
  padding: 33px 20px;
}

.footer-medsos a{
  color: #bc8743;
  text-decoration: none;
}

.fb span{
  margin-right: 5px;
}

.twit span{
  margin-right: 5px;
}

.ig span{
  margin-right: 5px;
}

